#portal-column-two-wrapper {
  top: 1.5rem;
  position: absolute;
  right: -360px;
  width: 100%;
  max-width: 300px;
  z-index: 2;
  padding-bottom: 2em;
  overflow-x: auto;
  scrollbar-width: thin;
}

.mini-header-navigation .portlet .navTree li a {
  border-top: 1px solid $corporateBlue;
}
.portlet .navTreeLevel0 > li:first-child > a {
  border-top: 0; /* no top border on the first link of the navigation menu */
}

.mobile-only  {
  .portletNavigationTree {
    background: transparent;
    border: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #firstHeader {
    font-weight: normal;
    font-size: 1.15rem;
  }
  .portletNavigationTree .portletSubMenuHeader,
  .portletNavigationTree .portletSubMenuHeader:hover
  {
    background-color: transparent;
    font-weight: normal;
  }
  .portletNavigationTree,
  .portletNavigationTree .eea-icon-left:after,
  .portletHeader .eea-icon-left:after,
  .portletHeader > a,
  .portlet .navTree li a
  {
    color: #FFF;
  }
  .navTree a:hover {
    color: #FFF !important;
  }
  .navTree a:hover:after, .navTreeCurrentItem:after {
    border-left-color: #FFF !important;
  }
  .portlet .navTree li a {
    border-top-color: #FFF;
  }
  
}

.navTree {
    list-style: none none;
}
.navTreeItem {
  display: block !important;
  padding: 0;
  margin: 0;
}

.navTreeItem img {
  width: 16px;
  height: 16px;
}
.portlet .navTree li a {
  margin: 0;
  padding: 10px;
  border-top: 1px dotted #BABBB8;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
}

.navTreeItem a,
.portletItem .navTreeItem a {
  display: block;
  text-decoration: none;
}

@media (min-width: 1025px) {
  #portal-column-two-wrapper::-webkit-scrollbar {
    width: 7px;
    background-color: $corporateGrey;
  }
  #portal-column-two-wrapper::-webkit-scrollbar-thumb {
    background-color: #CCC;
  }
}


.mini-header #portal-column-two {
  .portlet {
    background-color: $corporateGrey;
  }
}

@media (max-width: $breakpoint-xl - 1) {
 .mini-header #portal-column-two-wrapper {
   display: none;
 }
}
