#portal-column-two-wrapper {
  top: 1.5rem;
  position: absolute;
  right: -360px;
  width: 100%;
  max-width: 300px;
  z-index: 2;
  padding-bottom: 2em;
  background-color: #FFF;
  overflow-x: auto;
  scrollbar-width: thin;
}
@media (min-width: 1025px) {
  #portal-column-two-wrapper::-webkit-scrollbar {
    width: 7px;
    background-color: $corporateGrey;
  }
  #portal-column-two-wrapper::-webkit-scrollbar-thumb {
    background-color: #CCC;
  }
}


.mini-header #portal-column-two {
  .portlet {
    background-color: $corporateGrey;
  }
}

@media (max-width: $breakpoint-xl - 1) {
 .mini-header #portal-column-two-wrapper {
   display: none;
 }
}
