blockquote,
.pullquote {
  position: relative;
  padding: $spacer-2 $spacer-4;
  font-size: inherit;
  color: inherit;
  word-break: break-word;
}

blockquote p, .pullquote p, .pullquote-full p {
  font-size: $blockquote-font-size;
  line-height: $headings-line-height;
  font-weight: 300;
}
.content-core {
  blockquote p, .pullquote p, .pullquote-full p {
    font-size: $blockquote-font-size;
  }
}

.source {
  font-size: $h6-font-size;
}

blockquote > p:first-of-type {
  position: relative;
  padding: 0;
  margin-bottom: 0 !important;
}

blockquote > p:first-of-type:before,
blockquote > p:last-child:after {
  display: inline-block;
  vertical-align: top;
  height: $spacer-2;
  line-height: 1.2;
  font-size: $h4-font-size;
  position: absolute;
  font-family: FontAwesome;
  font-weight: bold;
}

blockquote > p:first-of-type:before {
  content: "\f10d";
  top: -$spacer-3;
  left: -$grid-gutter-width;
}

blockquote > p:last-child:after {
  content: "\f10e";
  right: -$spacer-5;
  bottom: -$spacer-5;
}

blockquote.pullquote,
.pullquote-left,
.pullquote-right {
  margin: $spacer 0;
}

@media (min-width: $breakpoint-sm) {
  blockquote.pullquote,
  .pullquote-left,
  .pullquote-right {
    width: calc(50% - 1.5rem);
  }

  .pullquote-right {
    float: right;
    margin: 0 0 $box-spacer $box-spacer;
  }

  .pullquote-left {
    float: left;
    margin: 0 $box-spacer $box-spacer 0;
  }

}

@media (min-width: $breakpoint-md) {
  blockquote,
  .pullquote {
    padding: $spacer-2;
  }
}
