.box {
  padding: $box-padding-mobile $box-margin-mobile;
  font-size: $box-font-size;
  line-height: inherit;
  word-break: break-word;
  margin-bottom: $box-margin-mobile;
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;
  width: 100vw;
}
.box-primary {
  background-color: $corporateBlue;
}
//Box Title Green|div|box-header box-header-tertiary

.box-secondary {
  background-color: $corporateGrey;
}

.box-tertiary {
  background-color: $corporateGreen;
}

.box-primary,
.box-primary a {
  color: $text-gray-light;
}
.box.bg-blue,
.box.bg-blue a {
}

.box :last-child {
  margin-bottom: 0;
}

.content-core {
  .box ul {
    @include list-unstyled();
  }

}

.box ul li {
  @include list-bullet();
}
.box ul li:before {
  @include list-bullet-before();
}

.box--full.bg-tertiary,
.box--left.bg-tertiary,
.box--right.bg-tertiary,
.box--full.bg-green,
.box--left.bg-green,
.box--right.bg-green {
  background-color: $corporateGrey;
  border-top: $corporateGreen solid 0.25rem;
  line-height: $p-line-height;
}

.box.bg-green h2,
.box.bg-tertiary h2 {
  color: $corporateGreen;
  font-weight: normal;
}


@media (min-width: $breakpoint-sm) {
  .box {
    padding: $box-padding;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .box--right,
  .box--left {
    width: calc(50% - 1.5rem); // scss variable doesn't compile with calc
  }

  .box--left {
    float: left;
    margin: 0 $box-margin $box-margin 0;
  }

  .box--right {
    float: right;
    margin: 0 0 $box-margin $box-margin;
  }
}

@media print {
  .box li {
    padding-left: 1.5em;
  }
}

