#relatedItems .eea-tabs {
 background-color: $corporateBlue;
}
#relatedItems .eea-tabs .current::after, #relatedItems .eea-tabs a:hover::after {
 border-top-color: $corporateBlue;
}
#relatedItems  {
 h2 {
  font-size: 100%;
 }
  .eea-tabs-panels {
   border: 0;
   padding: 0 15px;
  }

 .photoAlbumEntry {
  width: 217px;
  height: 330px;
 }
 .photoAlbumEntry a {
  display: flex;
  flex-direction: column;
 }

 .photoAlbumEntryTitleWrapper {
  height: 110px;
  display: block;
  overflow: hidden;
  background-color: $corporateBlue;
 }
 .photoAlbumEntryTitle {
  order: 0;
  height: 6rem;
  color: #FFF;
  font-weight: normal;
  text-align: left;
  line-height: 1.2;
  margin-top: 0;
  padding: 1rem 1.5rem;
 }
 .photoAlbumEntryWrapperImg {
  z-index: 0;
 }
 .photoAlbumEntryWrapper {
  order: 1;
  height: 225px;
  background-color: #FFF;
 }
}
span.listingPrevious,
span.next {
 visibility: hidden;
}

#relatedItems .eea-tabs-panel .pane,
.eea-tabs-panel.eea-tabs-panel-paginated {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 overflow: hidden;
}

#relatedItems .listingBar {
 order: 1;
 margin: 2rem auto 0 auto;
}

.eea-icon-pagination {
  display: none;
}


@media (min-width: 700px) and (max-width: 959px) {

 #relatedItems .photoAlbumEntry:nth-of-type(2n) {
  margin-right: 7px;
 }

 #relatedItems .photoAlbumEntry:nth-of-type(3n) {
  margin-right: 0;
 }
}
#relatedItems .page:before {
 display: none;
}


@media (min-width: 501px) and (max-width: $breakpoint-md - 1) {
 #relatedItems .page[data-count="1"] .photoAlbumEntry {
  margin-right: auto;
 }
}

#relatedItems .listingBar a {
 color: #004B87;
}
@media (max-width: $breakpoint-md - 1) {
 #relatedItems .page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
 }
  #relatedItems .listingBar {
   padding: 0;
  }
 #relatedItems .listingBar a {
  padding: 0.25em;
 }

}
@media (min-width: $breakpoint-md) {
 #relatedItems .page {
   display: flex;
   justify-content: space-between;
   width: 100%;
  }
  #relatedItems .photoAlbumEntry {
   margin: 0;
  }
 #relatedItems .photoAlbumEntry:nth-of-type(2n) {
  margin-right: auto;
  margin-left: auto;
 }

 #relatedItems .page[data-count="2"] .photoAlbumEntry:nth-of-type(2n) {
  margin-left: 6.1%;
 }

}

@media (min-width: 1140px) {
 #relatedItems .page[data-count="2"] .photoAlbumEntry:nth-of-type(2n) {
  margin-left: 60px;
 }
}

@media (min-width: $breakpoint-xl) {
 #relatedItems .page {
   flex-basis: 100%;
 }

 .eea-icon-pagination {
  position: absolute;
  right: -25%;
  cursor: pointer;
  display: block;
 }

 #relatedItems {
  h2, .eea-tabs  {
   position: absolute;
   left: -200px;
  }
  .eea-tabs {
   top: 60px;
   background-color: transparent;
  }
  .eea-tabs > li {
   display: block;
   border-bottom: 1px solid #d3d3d3;
  }

  .eea-tabs > li > a {
   color: #004B87;
   text-shadow: none;
   font-weight: normal;
  }

  .eea-tabs > li > .current,
  .eea-tabs > li > a:target,
  .eea-tabs > li > a:hover {
   color: #004B87 !important;
   font-weight: bold;
   background-color: transparent;
  }
  .eea-tabs > li > .current:before,
   .eea-tabs > li > a:hover:before {
    content: " ";
    //width: 0;
    border-left: 5px solid #004B87;
    display: block;
    position: absolute;
    height: 100%;
    margin-left: -15px;
    top: 0;
   }
 }
 .eea-tabs .current::after, .eea-tabs a:hover::after {
   display: none;
 }

}
