//@import "../mixins/fullwidth_bg";

.tiles-container {
  @include fullwidth-bg;
}
.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 1rem 0 0 0;
}

.tile {
  flex: 1 1 34%;
  margin-bottom: 1rem;
}

.tiles--3 .tile {
  margin: 0 auto 1rem auto;
}
.tile-item {
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .tile {
    flex-basis: 100%;
  }
}

.tile-item-header {
  font-size: 2.3125rem;
  //margin-bottom: 0.3em;
  margin-bottom: 0.5em;
  line-height: 1;
  color: $corporateGreen !important;
  text-shadow: 2px 0 0 currentColor;
}

.mini-header .tile-item-header {
  font-size: 3.75rem;
}

.tile-item-body {
  font-size: 150% !important;
  color: gray;
  margin: 0 auto;
  line-height: 1.3 !important;
}

.tiles--3 .tile-item-body {
  max-width: 100%;
}

@media (min-width: 420px) {
  .tile-item-body {
    max-width: 80%;
  }
}

@media (min-width: 481px) {
  .tiles--2 .tile,
  .tiles--3 .tile,
  .tiles--4 .tile
  {
    max-width: 46%;
    //max-width: 30%; would work for video
  }
}
@media (min-width: 1024px) {
  .tiles--3 {
    flex-wrap: nowrap;
    width: 120%;
    margin-left: -10%;
  }
  .tiles--3 .tile-item-body {
    max-width: 100%;
  }
}
