/*! <dtml-with base_properties> (do not remove this :) */
/*! <dtml-let xurl="portal_url().replace('https://', 'http://').replace('http://', '//')"> */
/*! <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */

@import "scss-theme/variables";
@import "scss-theme/mixins";

.mini-header:not(.expired-content) .wf-state-published #content-core {
  background-color: #FFF;
}

/* highlight section */
.mini-header {
  overflow-x: hidden;

  .annotator-wrapper {
    position: inherit;
  }

  //&[class*="_view"] #portal-column-two {
  //  display: none;
  //}

  //h2 {
  //  font-size: 1.9em;
  //  line-height: 1.1666;
  //  letter-spacing: -0.02rem;
  //  margin-bottom: 40px;
  //}

  //p {
  //  font-size: 1.25rem;
  //  line-height: 1.6;
  //}

  //h1, h2, h3, h4 {
  //  color: inherit;
  //  margin-bottom: 1.5rem;
  //}

  /* attempt to add large bottom margin only to paragraphs without any classes
    applied and within a text fieldname
   */
  //div[id*="parent-fieldname-text"] > p:not([class]) {
  //  margin-bottom: 40px;
  //}

  //@import "scss-theme/theme/content_core";

  //.figureHeading {
  //  margin-top: 50px;
  //  margin-bottom: 40px;
  //  font-size: 1.125rem;
  //  line-height: 1.666;
  //  color: #000;
  //}
  //iframe, img {
  //  margin-bottom: 40px;
  //}

  .mini-portal-type {
    position: absolute;
    padding: ($spacer / 2)  $spacer-4;
    background-color: rgba(0, 0, 0, 0.7);
    top: -$spacer-1;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $p-font-size;
    line-height: 1;
    left: -$spacer;
  }
  &.mini-header-light .mini-portal-type {
    background-color: #FFF;
  }

  .content-header-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
  }

  .content-header-body:before {
    width: 100vw;
    content: " ";
    background-color: white;
    position: absolute;
    height: calc(100% + #{$spacer-0});
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 49.3vw);
    top: 0;
    z-index: -2;
    min-height: 100px;
  }

  .documentByLine .portalType,
  .documentByLineAuthors,
  .content-header-body #themes-tags {
    display: none;
  }

  .content-header .documentByLine {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
    max-width: initial;
  }

  .content-header .documentByLine::before {
    position: absolute;
    width: 100vw;
    left: -$grid-gutter-width;
    display: block;
    content: " ";
    border-top: 2px solid white;
    top: -$spacer-half;
  }

  .documentExportActions {
    margin: 0 0 $spacer-half $spacer;
    order: 5;
  }

  .documentExportActions .export-action-title {
    display: inline;
  }

  .documentByLineImageCopyright,
  .documentByLineModified {
    display: inline-block;
  }

  .documentByLineReadingStats {
    margin-right: 0.75em;
  }

  .eea-icon-file-pdf-o {
    font-size: 1rem;
  }

  #portal-column-content {
    margin: 0 auto;
    min-width: initial;
    width: 100%;
    float: none;
  }
  &[class*="_view"] .width-3\:4 {
    float: none;
    max-width: 830px;
  }
  &[class*="_view"] .width-full {
    max-width: 100%;
  }

  .content-core-wrapper {
    margin-top: $spacer-0;
    //padding-top: 1px; /* ensure margin is preserved /highlights/air-pollution-goes-down-as */
  }

  .content-header {
    padding: 1rem 0 0 0;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-top: 200px;

    .documentFirstHeading {
      padding-right: 0;
      min-width: 85%;
      margin: 1.25rem 0 $spacer-1 0;
      letter-spacing: -1px;
      font-size: 2.5rem;
      line-height: 1.15;

    }
  }


  .content-header:before {
    content: " ";
    width: 99.8%;
    left: -1rem;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;
    padding: 0 1rem;
  }

  #content-core:before {
    content: " ";
    width: 100vw;
    position: absolute;
    height: 100%;
    background-color: #FFF;
    z-index: -1;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 49.3vw);
  }

  .documentDescription {
    margin-bottom: $spacer-4;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.333;
    width: 100%;
  }
  .content-header {
    .documentFirstHeading,
    .documentDescription {
      order: 1;
    }

    .documentFirstHeading,
    .documentExportActions a {
      color: inherit !important;
    }
  }

  #languageCodes,
  .content-header .documentByLine {
    order: 2;
  }

  .content-header .documentExportActions {
    order: 3;
    position: relative;
  }

  .content-header > div {
    order: 4;
  }


  .documentByLine,
  .documentDescription,
  .documentByLine a {
    //color: rgba(255, 255, 255, 0.9);
    color: inherit;
  }

  #themes-tags .listHead {
    display: none;
  }

  #article-language {
    margin-top: 0;
    position: relative;
    order: 4;
    align-self: auto;
    min-width: auto;
  }

  .documentExportActions + #article-language {
    margin-left: 0.75rem;
  }

  #article-language .eea-icon:before,
  #article-language > a {
    color: inherit;
  }

  #region-content {
    padding-top: 8em;
  }

  .fiche-endnotes {
    margin-top: $spacer-3;
  }
}

.mini-header.mini-header-light {
  #region-content {
    padding-top: 1px;
  }
  .content-header {
    margin-top: 100px;
    color: #000;
  }

  .content-header:before {
    background-color: #FFF;
  }
}



@media (max-width: 660px) {
  .mini-header {
    .content-header-body {
      justify-content: flex-start;
    }

    .content-header .documentByLine {
      max-width: 100%;
      flex-basis: 100%;
    }

    .documentExportActions {
      display: flex;
      justify-content: flex-start;
      margin-left: 0;
    }
  }

}

@media (min-width: 661px) {
  .mini-header {
    #content .documentByLine {
      max-width: initial;
      flex-basis: 0;
    }
  }
}

@media (max-width: $breakpoint-md - 1) {
  html {
    font-size: 0.875rem;
  }
}

@media (min-width:$breakpoint-md) and (max-width: $breakpoint-lg - 1) {
  html {
    font-size: 0.9375rem;
  }
}

@media (min-width:$breakpoint-lg) {
  html {
    font-size: 1rem;
  }
  .mini-header {
    .content-header .documentByLine::before {
      left: -15.5%;
      max-width: 1001px;
    }

    .content-header #article-language + .documentByLine::before {
      max-width: 990px; // was 977
    }

    .content-header-body:before {
      height: calc(100% + #{$spacer-hero});
    }

    //.content-core,
    .content-core-wrapper {
      margin-top: $spacer-hero;
    }
  }

}

@media (min-width: $breakpoint-lg) {
  .mini-header {
    #portal-column-content {
      min-width: 830px;
    }

    #content .documentByLine {
      max-width: initial;
    }

    .content-header:before {
      width: 122%;
      left: -11%;
      padding: 0;
    }

    .mini-portal-type {
      left: -11%;
    }
  }

  .mini-header:not(.mini-header-navigation) {
    &.portaltype-folder,
    &.portaltype-topic {
      .content-header:before {
        width: 105%;
        left: -2.5%;
      }
      .mini-portal-type {
        left: -2.5%;
      }
      #portal-column-content {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: $breakpoint-xl)  {
  .mini-header-navigation {
    .content-header::before {
      width: 105%;
      left: -2.5%;
    }

    .content-header,
    .content-core {
      max-width: 830px;
    }

    .mini-portal-type {
      left: -2.5%;
    }
  }
}

@media (min-width: $breakpoint-xl) and (max-width: 1599px) {
  .mini-header-navigation {
    &[class*="_view"] #portal-column-content {
      float: none;
      max-width: 94%;
    }

    .content-header-body::before {
      width: 1600px;
    }
  }
}


@media (min-width: $breakpoint-xl) and (max-width: 1399px) {
  .mini-header-navigation {
    #visual-portal-wrapper {
      margin-top: 0;
      overflow: hidden;
    }
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .mini-header-navigation {
    .content-header-body::before {
      width: calc(100vw + 27.5%);
    }
  }
}


@media print {
  .mini-header {
    .mini-portal-type {
      top: -$spacer-0;
    }
    h1,h2,h3 {
      margin-top: 0;
    }
    ul {
      list-style: none;
    }
  }
}

/*! </dtml-let> */
/*! </dtml-with> */
