/*! <dtml-with base_properties> (do not remove this :) */
/*! <dtml-let xurl="portal_url().replace('https://', 'http://').replace('http://', '//')"> */
/*! <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */

$corporateGreen: #008675;
$corporateGrey: #f3f3f3;
$corporateBlue: #004b87;


.mini-header:not(.expired-content) .wf-state-published #content-core {
  background-color: #FFF;
}


/* highlight section */
.mini-header {
  overflow-x: hidden;
  .annotator-wrapper {
    position: inherit;
  }
  #portal-column-two {
    display: none;
  }

  h2 {
    font-size: 1.9rem;
    line-height: 1.1666;
    color: #000;
    letter-spacing: -1px;
    //margin-bottom: 2.5rem;
  }

  .content-core {
    p {
      font-size: 1.25rem;
      line-height: 1.6;
      //margin-bottom: 2.5rem;
    }
    li {
      font-size: 1.25rem;
    }

    //li p {
    //  margin-bottom: 2.5rem;
    //}
    p:last-child {
      margin-bottom: 0;
    }

    a {
      color: $corporateBlue;
    }
  }
  blockquote p, .pullquote p, .pullquote-full p {
    font-size: 1.875rem;
    line-height: 1.1666;
    font-weight: 300;
  }
  .source {
    font-size: 1rem;
  }
  .figureHeading {
    //margin-top: 50px;
    //margin-bottom: 40px;
    font-size: 1.125rem;
    line-height: 1.666;
    color: #000;
  }
  //iframe, img {
  //  margin-bottom: 3.75rem;
  //}


  .mini-portal-type {
    position: absolute;
    padding: 0.5em 1em;
    background-color: rgba(0,0,0, 0.8);
    top: -2.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    left: -1rem;
  }
  .content-header-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content-header-body:before {
    width: 100vw;
    content: " ";
    background-color: white;
    position: absolute;
    height: 110%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 49.3vw);
    top: -12px;
    z-index: -2;
    min-height: 100px;
  }

  .documentByLine .portalType,
  .publishDate .byline-separator,
  .documentByLineAuthors,
  #themes-tags {
    display: none;
  }

  #plone-document-byline {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
    max-width: initial;
  }
  #plone-document-byline::before {
    position: absolute;
    width: 122%;
    left: -11%;
    display: block;
    content: " ";
    border-top: 2px solid white;
    margin-top: -1em;
}

  .documentExportActions {
    margin: -1em 0 0.5em 1em;
    order: 5;
  }
  .documentExportActions .export-action-title {
    display: inline;
  }

  .documentByLineImageCopyright,
  .documentByLineModified {
    display: inline-block;
  }
  .documentByLineReadingStats {
    margin-right: 0.75em;
  }

  .eea-icon-file-pdf-o {
    font-size: 1rem;
  }
  #portal-column-content {
    float: none;
    margin: 0 auto;
    min-width: initial;
    max-width: 830px;
    width: 100%;
  }

  .fullwidth-img-container {
    padding-bottom: 100px;
  }

  .fiche-summary {
    margin-bottom: 3em;
  }

  .content-header {
    padding: 1rem 0;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .content-header {
    padding-bottom: 0;
    margin-top: 200px;
  }
  .keyFact li {
    font-size: 1rem;
  }
  .keyFact h1, .keyFact h2, .keyFact h3 {
    color: $corporateGreen;
  }
  .documentFirstHeading {
    padding-right: 0;
    min-width: 85%;
    margin: 1.25rem 0 3.75rem 0;
    letter-spacing: -1px;
    font-size: 2.5rem;
    line-height: 1.15;

  }
  .documentFirstHeading .anchorjs-link {
    display: none !important;
  }

  .keyFact:before,
  .content-header:before {
    content: " ";
    width: 99.8%;
    left: -1rem;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;
    padding: 0 1rem;
  }

  #content-core:before {
    content: " ";
    width: 100vw;
    position: absolute;
    height: 100%;
    background-color: #FFF;
    z-index: -1;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 49.3vw);
  }

  .keyFact {
    padding: 3.75rem 0;
    //background-color: transparent;
    color: #000;
    font-size: 1.2rem;
    line-height: 1.474;
    position: relative;
    margin: 3.75rem 0;
  }

  //#content .keyFact .discreet,
  //.keyFact{
  //  color: #000;
  //  border: 0;
  //}
  .keyFact:before {
    background-color: inherit;
  }
  #themes-tags {
    order: 0;
    margin-left: 0;
    margin-bottom: 3em;
  }
  .documentDescription {
    margin-bottom: 3em;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.333;
  }
  .documentFirstHeading,
  .content-header .documentDescription
  {
    order: 1;
  }

  #languageCodes,
  .content-header .documentByLine
  {
    order: 2;
  }

  .content-header .documentExportActions {
    order: 3;
  }

  .content-header > div {
    order: 4;
  }

  .documentFirstHeading,
  #themes-tags,
  .documentExportActions a
  {
    color: #FFF;
  }

  .documentByLine,
  .documentDescription,
  .documentByLine a {
    color: rgba(255, 255, 255, 0.9);
  }
  #themes-tags .link-category {
    background: transparent;
    color: #FFF;
    margin-right: 2em;
  }
  #themes-tags .listHead {
    display: none;
  }

  h2, h3 {
    color: #000;
  }
}

.mini-header {
  #tip-article-language {
    top: 90% !important;
    right: 6.5% !important;
  }
  #article-language {
    margin-top: 0;
    position: relative;
    order: 4;
  }
  .documentExportActions + #article-language {
    margin-left: 0.75em;
  }

  #article-language .eea-icon:before,
  #article-language a {
    color: #FFF;
  }
  #region-content {
    padding-top: 8em;
  }
}


@media (max-width: 415px) {
  .mini-header {
    #tip-article-language {
      bottom: -135px;
    }
  }
}

@media (max-width: 500px) {
  .mini-header {
    #tip-article-language .panel-top {
      float: none;
    }
  }
}

@media (min-width: 501px) and (max-width: 659px) {
  .mini-header {
    #tip-article-language .panel-top {
      float: left;
      left: 4% !important;
    }
  }
}

@media (max-width: 660px) {
   .mini-header {

     .content-header-body {
       justify-content: flex-start;
     }
     #content .documentByLine {
       max-width: 100%;
     }

     #article-language {
       margin-left: 1em;
     }
     .documentExportActions {
       display: flex;
       justify-content: flex-start;
       margin-left: 0;
     }
   }

}

@media (min-width: 661px) {
  .mini-header {

    #content .documentByLine {
      max-width: initial;
      flex-basis: 0;
    }
  }
}
@media (min-width: 1024px) {
  .mini-header {
    #portal-column-content {
      min-width: 830px;
    }

      #content .documentByLine {
        max-width: initial;
      }

    .keyFact:before,
    .content-header:before {
      width: 122%;
      left: -11%;
      padding: 0;
    }

    .mini-portal-type {
      left: -11%;
    }
  }
}

/*! </dtml-let> */
/*! </dtml-with> */
