h3 {
    font-size: 125%;
    line-height: 1.5;
    margin: 1em 0;
    font-weight: bold;
}

#header-holder, #footer-wrapper, #portal-colophon {
   font-family: 'Open Sans', Verdana, sans-serif;
}

div#portal-header {
    padding-right: 0 !important;
}
#siteaction-login-menu {
    display: none;
}

#eea-above-columns {
    background-color: #FFF;
}

.eea-accordion-panels {
    border-top-width: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}


.portal-globalnav > li > a, .eea-siteaction > a {
    font-family: "Open Sans", Verdana, sans-serif;
}
@media screen and (max-width: 1199px) {
    #header-holder .navbar-collapse {
        height: 95vh !important; /* bootstrap.js adds height auto */
    }
}
