
@mixin fullwidth-bg {
  position: relative;
  margin: 3rem 0 !important;
  z-index: 1;
  font-size:  1.25rem;
  padding: 1.5rem 0;
  line-height: 1.4;
}

@mixin pseudo-bg-boilerplate {
  position: absolute;
  content: " ";
  top: 0;
  z-index: -1;
  height: 100%;
}

@mixin fullwidth-bg-before {
  @include pseudo-bg-boilerplate();
  background-color: inherit;
  width: 99.3vw;
  right: 0;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

