@mixin fullwidth-container-centered {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  clear: both;
  overflow: hidden;
  justify-content: center;
  margin: 2.5rem calc(50% - 50vw) 2.5rem calc(50% - 50vw);
}
