
@mixin fullwidth-bg-mixin {
  position: relative;
  margin: 3rem 0 !important;
  z-index: 1;
  font-size:  1.25rem;
  padding: 1.5rem 0;
  line-height: 1.4;
}

@mixin fullwidth-bg-before-mixin {
  position: absolute;
  background-color: inherit;
  content: ' ';
  top: 0;
  z-index: -1;
  width: 99.3vw;
  height: 100%;
  right: 0;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

